modules = ["nodejs-20", "web", "bash"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/admin-dashboard: web"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/api-server: API Server"

[[workflows.workflow]]
name = "artifacts/admin-dashboard: web"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=22133 BASE_PATH=/admin-dashboard/ pnpm --filter @workspace/admin-dashboard run dev"
waitForPort = 22133

[[workflows.workflow]]
name = "artifacts/api-server: API Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
ADMIN_USERNAME = "admin"
SUPABASE_DB_HOST = "aws-0-eu-west-1.pooler.supabase.com"
SUPABASE_DB_NAME = "postgres"
SUPABASE_DB_PORT = "6543"
SUPABASE_DB_USER = "postgres.jrxcxypnytgbrzosaleq"
SUPABASE_DB_PASSWORD = "K4jckOa6S8yoxqRH"
ADMIN_PASSWORD = "AZ123123"
SUPABASE_URL = "https://jrxcxypnytgbrzosaleq.supabase.co/"
SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpyeGN4eXBueXRnYnJ6b3NhbGVxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU2MDg0MjQsImV4cCI6MjEwMTE4NDQyNH0.LSZqcljfNtxs6r5QGXmhocqZM5XPV8urXkbMezBOof0"
ADMIN_ALLOWED_EMAILS = "Alhasanfarg2@gmail.com"
ALERT_EMAIL_TO = "Alhasanfarg2@gmail.com"

[objectStorage]
defaultBucketID = "replit-objstore-7793dcf0-b0f4-4ab1-8e8e-ae3254302774"
